!!!
%head
  %title Peektures
  %meta(http-equiv="content-type" content="text/html; charset=utf-8")
  = stylesheet_link_tag "peektures"
%body
  #fb-root
  %table(width="100%" height="100%")
    %tr
      %td(valign="middle")
        %center
          #login_button(style="display: none")
            %p Пожалуйста, нажмите на кнопку ниже и предоставьте необходимые разрешения. Спасибо.
            .fb-login-button(data-show-faces="true" data-width="200" data-max-rows="1" data-scope="friends_photos")
          #photos
            = image_tag 'logo_fb_black.png', id: 'main_photo', alt: 'Загрузка...'
            %p#main_caption Загрузка списка фотографий...
  %div(style="display: none")
    = image_tag 'logo_fb_black.png'
    = image_tag 'logo_fb_black.png'
    = image_tag 'logo_fb_black.png'
  = javascript_include_tag '//connect.facebook.net/ru_RU/all.js'
  = javascript_include_tag 'peektures'
